/* estilos header */
header {
    background-color: rgb(59, 139, 151);

}

.categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.superior {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.supdersty {
    text-decoration: none;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    left: 1000px;
}

.logo {
    width: 10%;
    height: 10%;
    margin: 5px;
    position: relative;
    left: 43%;
}

* {
    box-sizing: border-box;
}

.letraheader {
    color: white;
}

/*estilos home*/
.imghome {
    width: 50%;
    height: 50%;

}

.sectionhome1 {
    display: flex;
    flex-direction: row;
    
}

.sectionhome2{
    display: flex;
    flex-direction: row;
}

.homearticlesimona {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238);
    border: white solid 20px;
}

.homearticlebotas {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238); 
    border: white solid 20px;
}
.homearticlecartera {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238); 
    border: white solid 20px;
}
.homearticleaccesorio {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238); 
    border: white solid 20px;
}
.homearticleremera {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238); 
    border: white solid 20px;
}
.homearticlezapato{
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238); 
    border: white solid 20px;
}
.homearticleapple{
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238); 
    border: white solid 20px;
}
.homearticlesmartwatch {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgb(247, 243, 238); 
    border: white solid 20px;
}

/*estilos parea category*/










/* estilo para producto */
.simonerochaimg1 {
    width: 30%;
    height: 30%;
}

.simonerochaimg2 {
    width: 400px;
}

.producto {
    flex-direction: row;
    margin-top: 10px;
}

.nt {
    color: grey;
}