/* estilos header */
header {
    background-color: rgb(0, 0, 0);

}

.categorias{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;     
    text-decoration: none;
    color: wheat;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal; 
}

.superior{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.supdersty{
    text-decoration: none;
    color: wheat;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    position:relative;
    left: 1000px;
}

.logo {
    width: 10%;
    height: 10%;
    margin: 5px;
    position: relative;
    left: 43%;
}

*{
    box-sizing: border-box;
}
.letraheader {
    color: white;
}

/*estilos home*/
.imghome {
    width: 20%;
    height: 20%;

}
section{
    display: flex;
}
.article-home{
    
    padding: 15px;
   flex-wrap: nowrap;
 
   
}



/* estilo para producto */
.simonerochaimg1{
    width: 30%;
    height: 30%;
}
.simonerochaimg2{
    width: 400px;
}
.producto{
    flex-direction: row;
    margin-top: 10px;
}
.nt{
    color: grey;
}