* {
    box-sizing: border-box;
}

/* ESTILOS HEADER */
header {
    background-color: rgb(59, 139, 151, 0.50);

}

.header1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.logo {
    align-self: center;
    width: 10%;
    object-fit: contain;
    margin-left: 43%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.menu1 {
    align-self: self-start;
    list-style-type: none;
    color: rgb(118, 69, 69);
    margin-left: 30%;
    line-height: 200%;
    font-size: 90%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.header2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(234, 234, 234, 0.2);
}


.categorias {
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
    margin-right: 5%;
}

.nosubrayado {
    text-decoration: none;
    color: white;
}

.mujer {
    color: black;
}

.home {
    color: white;
}

.reg {
    color: brown;
}



/*ESTILOS FOOTER*/
.pie {
    background-color: rgba(217, 217, 217, 0.3);
    margin-bottom: -3%;
    margin-top: 0%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 70%;
}


/*ESTILOS HOME*/
.imghome {
    object-fit: contain;
    width: 100%;
}

.nuevatemp {
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgba(22, 147, 160, 0.1);
    padding: 1%;
}

.destacadoshome {
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgba(22, 147, 160, 0.1);
    padding: 1%;
}

.salehome {
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: rgba(22, 147, 160, 0.1);
    padding: 1%;
}

.sectionhome1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: -1%;
}

.sectionhome2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.homearticlesimona {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticlebotas {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticlecartera {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticleaccesorio {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticlechaleco {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 25%;
}

.tit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.des {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
    margin-top: -7%;
}

.p {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/*botones home*/
.bot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ver {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10%;
}

.botreloj {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 25%;
}

.botvisvim {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30%;
}

.botcamisaversace {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 30%;
}

.botasbalbot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 22%;
}

.carteramiubot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 16%;
}

.guantesdionbot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 23%;
}

.sacobothome {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 7%;
}


/*camisa*/
.homearticleremera {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticlezapato {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: rgb(254, 254, 254) solid 20px;
}

.homearticleapple {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticlesmartwatch {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticlemaletin {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 25%;
}

.sectionhome3 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.homearticlevestido {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;

}

.homepreciosale {
    text-decoration: line-through;
}

.homenuevoprecio {
    color: red;
}

.homearticlekaws {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}

.homearticlecampera {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;

}

.homearticleimpresora {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 25%;
}

.homearticletacon {
    padding: 15px;
    flex-wrap: nowrap;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
}



/*ESTILOS CATEGORY*/
.mujer {
    color: rgb(0, 0, 0);
}

.filacat1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.imgcat {
    object-fit: contain;
    width: 100%;
}

/*saco*/
.sacocat {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 30%;
}

.sacotit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.sacodes {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
    margin-top: -7%;
}

.sacop {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.sacobot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10%;
}

.sacover {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*botas*/

.botascat {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 30%;
}

.botastit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.botasdes {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -7%;
    font-size: 80%;
}

.botasp {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.botasbot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10%;
}

.botasver {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*cartera*/
.carteracat {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 30%;
}

.carteratit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.carterades {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -7%;
    font-size: 80%;
}

.carterap {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.carterabot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 3%;
}

.carteraver {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*guantes*/
.guantescat {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 30%;
}

.guantestit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.guantesdes {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -7%;
    font-size: 80%;
}

.guantesp {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.guantesbot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10%;
}

.guantesver {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
}

.filacat2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 84%;
}

/*guantes*/
.florescat {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 30%;
}

.florestit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.floresdes {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -7%;
    font-size: 80%;
}

.floresp1 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.floressale {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.floresp2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.floresbot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 7%;
}

.floresver {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*tacon*/

.taconcat {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 30%;
}

.tacontit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.tacondes {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -7%;
    font-size: 80%;
}

.taconp1 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.taconsale {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.taconp2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.taconbot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.taconver {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*simone*/
.simonecat {
    padding: 15px;
    background-color: rgba(217, 217, 217, 0.3);
    border: white solid 20px;
    width: 30%;
}

.simotit {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.simodes {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-top: -7%;
    font-size: 80%;
}

.simop {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.simobot {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 22%;
}

.simover {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 80%;
    border-radius: 12px;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
}


/* estilos para PRODUCTO */
.destacado {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0.5%;
}

.im1 {
    width: 36%;
    object-fit: contain;
    background-color: rgba(217, 217, 217, 0.3);
}

.im2 {
    width: 36%;
    object-fit: contain;
    background-color: rgba(217, 217, 217, 0.3);
    margin-left: 1%;
}

.derechafotos {
    margin-left: 1%;
    align-items: first start;
}

.nv {
    color: rgb(109, 109, 109);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 90%;
}

.simone {
    margin-top: -4%;
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}

.des1 {
    margin-top: -5%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 90%;
}

.des2 {
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 90%;
}

.bloquesimone2 {
    margin-top: 15%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 90%;
}

.bloquesimone3 {
    margin-top: 25%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 90%;
}

.rm {
    font-size: 90%;
    color: rgb(109, 109, 109);
    margin-top: 2%;
    margin-left: 1%;
}

.impuestos {
    margin-top: -5%;
}

.botonrocha {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    text-decoration: none;
    font-size: 100%;
    border-radius: 12px;
    margin-top: -5%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*ESTILOS LOG IN*/
.bodylog {
    background-color: rgb(59, 139, 151, 0.50);
}

.formlogin {
    background-color: aliceblue;
    width: 30%;
    padding: 3%;
    margin-left: 35%;
    margin-top: 7%;
    border-radius: 12px;
}

.logintrendy {
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: -5%;
    margin-top: -5%;
}

.headlog {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -4%;
    margin-top: -5%;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ini {
    text-decoration: underline;
}

.regi {
    margin-left: 10%;
    text-transform: uppercase;
}

.regiletra {
    text-decoration: none;
    color: black;
}

.direlogin {
    color: rgb(53, 50, 50);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: -4%;
    margin-top: 0%;
    font-size: 85%;
}

.direloginusuario {
    border-radius: 5px;
    width: 100%;
    margin-left: -4%;
}

.contralogin {
    color: rgb(53, 50, 50);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: -4%;
    font-size: 85%;
}

.contraloginusuario {
    border-radius: 5px;
    width: 100%;
    margin-left: -4%;
}

.checkpointsesion {
    color: rgb(53, 50, 50);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: -4%;
    margin-top: 3%;
    font-size: 85%;
}

.olvidologin {
    color: rgb(53, 50, 50);
    font-size: 90%;
    margin-left: -4%;
}

.botoniniciar {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    font-size: 100%;
    border-radius: 12px;
    margin-top: 2%;
    margin-bottom: -5%;
    margin-left: -4%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textoboti {
    text-decoration: none;
    color: white;
}

/*ESTILOS REGISTER*/
.formreg {
    background-color: aliceblue;
    width: 30%;
    padding: 3%;
    margin-left: 35%;
    margin-top: 3%;
    border-radius: 12px;
}

.inireg {
    color: black;
    text-decoration: none;
}

.regiregi {
    color: black;
    text-transform: uppercase;
}

.contrareg {
    color: rgb(53, 50, 50);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: -4%;
    font-size: 85%;
}

.contrareg2 {
    border-radius: 5px;
    width: 100%;
    margin-left: -4%;
}

.terminosycond {
    color: rgb(53, 50, 50);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin-left: -4%;
    font-size: 80%;
}

.suscribirsecheck {
    margin-left: -4%;
    margin-top: -5%;
}

.checkreg {
    margin-left: 0%;
    margin-top: 6%;
}

.susletra {
    color: rgb(53, 50, 50);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 70%;
}

.botonreg {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    font-size: 100%;
    border-radius: 12px;
    margin-top: 5%;
    margin-left: -4%;
    margin-bottom: -5%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.textoboti {
    text-decoration: none;
    color: white;
}

/*ESTILOS RECOVER*/
.formrestablecer {
    background-color: aliceblue;
    width: 30%;
    padding: 3% 1% 3% 3%;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 12px;
}

.textorecover {
    color: rgb(53, 50, 50);
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
    margin-left: -4%;
}

.botonrecuperar {
    border: none;
    background-color: rgba(0, 0, 0);
    color: rgba(255, 255, 255);
    padding: 5%;
    font-size: 100%;
    border-radius: 12px;
    margin-top: 10%;
    margin-left: -4%;
    margin-bottom: -5%;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.botonreiniciar {
    border: none;
    background-color: aliceblue;
    padding: 5%;
    font-size: 100%;
    border-radius: 12px;
    margin-top: 7%;
    margin-left: -4%;
    margin-bottom: -5%;
    font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}
.textobotrei{
    color: black;
    text-decoration: none;}

/*estilos Carrito*/
.setcioncart1{
    flex-direction: column;
}
.sectioncart2{
    flex-direction: column;
    font-weight: 400;
    font-style: normal;
    width: 100%;
}

.textobotrei {
    color: black;
    text-decoration: none;
}


/*ESTILOS CARRITO*/
.carritocompras{
        font-family: "Montserrat Subrayada", sans-serif;
        font-weight: 700;
        font-style: normal;
        padding: 1%;
}
.carrito{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
.imgcarrito{
        width: 20%;
        object-fit: contain;
    }
.carritosec1{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2%;
    }
.letratitulocarrito{
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03cm;
}
.letradesccarrito{
    margin-top: -10%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}
.letracategoriacart{
    margin-top: -10%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}

.carritosec2{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 2%;
    }

.preciocart{
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}
.impuestoscart{
    margin-top: -6%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}
.carritosec3{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 5%;
    margin-top: 2%;
}
.talle{
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}
.talle2{
    margin-top: -11%;
    text-transform: capitalize;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}
.cantidad{
    font-weight: bold;
    margin-top: 10%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}
.cantidad2{
    margin-top: -10%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
}

.resumencompra{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 20%;
    width: 20%;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 80%;
    background-color: rgba(217, 217, 217, 0.3);
    padding: 2%;
    border-radius: 12%;
}
.resumensubtotal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: -8%;
    justify-content: space-between;
}
.subtotal{
    font-weight: normal;
}
.psubtotal{
    font-weight: normal;
}

.resumenentrega{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.resumentotal{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.botoncheckout{
        border: none;
        background-color: rgba(0, 0, 0);
        color: rgba(255, 255, 255);
        padding: 5%;
        border: 30%;
    }

 /*ESTILOS HEADER RESPONSIVE*/
 @media only screen and (max-width: 600px){
    .sectionhome2{
        flex-direction: column;
    }
    .homearticles{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .logo{
        width: 20%;
    }
    .header-logo{
        justify-content: start;
        padding-left: 5%;
    }
    .header2{
        flex-direction: column;
        align-items: center;
    }
    .menu1{
        font-size: 80%;
    }
    .w-25{
        width: 100%;
    }
        text-decoration: none;
        font-size: 100%;
        border-radius: 12px;
        margin-top: 5%;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
        width: 100%;
}
.imgmaletincarrito{
    width: 20%;
    object-fit: contain;
    margin-top: -2%;
}